@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="column"><img src="~/Content/images/Headshot.jpg" /></div>
    <div class="column"><p>Milton Horne is located in Liberty, Missouri and has been in the piano technical industry for over forty (40) years, beginning with his apprenticeship in the St. Louis area while in High School. he believes in ongoing professional development and is therefore and active member of the Piano Technicians Guild, Kansas City Chapter, and has achieved the RPT (registered piano technician) status. Mr. Horne taught at William Jewell College for 32 years. He is a pianist and active musician, accompanying and performing in the KCMO region. He loves pianos and accoustical instruments.</p>
</div>
</div>
    

    


