
@{
    ViewBag.Title = "Services";
}



<section id="services" class="info-section text-white bg-right bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="head-box">
                    <h2 class="display-2 ">Services Offered</h2>
                </div>
                <div class="three-panel-block mt-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block mb-5">
                                <h3 class="text-secondary">Tuning</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/Tuning.jpg" class="img-fluid"></i>

                                
                                <p>Adjusting the piano string's pitches to maximize consistency of intervals and harmonicity</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block mb-5">
                                <h3 class="text-secondary">Repair</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/Repair.jpg" class="img-fluid"></i>
                               
                                <p>Restoring the piano's factory specifications on usability and serviceability all the instrument's component parts</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block mb-5">
                                <h3 class="text-secondary">Regulation</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/Regulation.jpg" class="img-fluid"></i>
                                <p>Restoring the timing relationship of all moving parts to improve the touch and tone of the piano</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block mb-5">
                                <h3 class="text-secondary">Climate Control</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/ClimateControl.jpg" class="img-fluid"></i>
                                <p>Extending the life of your piano by installing Dampp-Chaser products to maintain stability of  internal temperature and humidity</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block">
                                <h3 class="text-secondary">Voicing</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/Voicing.jpg" class="img-fluid"></i>
                                <p>Adjusting the piano's tonal quality</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block">
                                <h3 class="text-secondary">Rebuilding</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/Rebuilding.jpg" class="img-fluid"></i>
                                <p>These include cleaning and lubrication of piano and action; installation of Dampp Chase products; keybaoard touch-weight analysis; CA treatment of loose tuning pins; finish cleaning and touch-up</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block">
                                <h3 class="text-secondary">Appraisals</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/Appraisal.jpg" class="img-fluid"></i>
                                <p>Providing evaluation of your instrument  for up-to-date value in use and exchange</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block">
                                <h3 class="text-secondary">Referrals</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/black-and-white-bracelet-cooperation-814544.jpg" class="img-fluid"></i>
                                <p>Referrals to other professional services in the industry to assist with maintaining the long life and high quality of your piano</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block">
                                <h3 class="text-secondary">Cleaning</h3>
                                <i class="icon-box mb-3 float-left w-100"><img src="~/Content/images/cleaning.jpg" class="img-fluid"></i>
                                <p>Cleaning action parts, under strings and cabinetry; lubricating all friction points  to ensure smooth, consistent operation of all moving parts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>